<form  action="" class="classform" method="post" style="margin-left: 13ex;margin-top: 8ex;">
    <div class="container">
        <h2>Task Registration</h2>
        <label for="project_name"><b>Project Name</b></label><br>
        <input [(ngModel)]="project_name" [ngModelOptions]="{standalone: true}"    type="text" id="text" placeholder="Enter Project Name" name="project_name" readonly><br><br>
        <label for="task_name"><b>Task Name</b></label>
        <input [(ngModel)]="task_name" [ngModelOptions]="{standalone: true}"    type="text" id="text" placeholder="Enter Task Name" name="task_name" readonly><br><br>
        <label for="task_description"><b>Task Description</b></label>
        <textarea [(ngModel)]="task_description" [ngModelOptions]="{standalone: true}"  id="text" placeholder="Enter Task Description" name="task_description" readonly></textarea><br><br>
        <label for="last_date"><b>Last Date</b></label>
        <input [(ngModel)]="last_date" [ngModelOptions]="{standalone: true}"  type="date" id="last_date" placeholder="Enter last date" name="last_date" [min]="minDate" readonly><br><br>
        <label for="assigned_to"><b>Assigned To</b></label><br>
        <select [(ngModel)]="assigned_to" [ngModelOptions]="{standalone: true}" id="assigned_to" name="assigned_to" style="width: 42ex;height: 4ex;">
            <option value="" disabled selected>Select a Person</option>
            <option *ngFor="let person of userArray" [value]="person.id">{{ person.username }}</option>
        </select><br><br>
        <input [(ngModel)]="is_high_priority" [ngModelOptions]="{standalone: true}" name="is_high_priority" type="hidden"><br><br>


        
        
        <button class="submit" type="submit"  (click)="saveOrUpdateRecords()">Submit</button>
       
    </div>
</form>
<section style=" margin-left: 65ex;">
    <h2>Task Details</h2>
  
    <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Task Last Date</th>
            <th>High Priority</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskArray">
            <td>{{ task.task_id }}</td>
            <td>{{ task.project_name }}</td>
            <td>{{ task.task_name }}</td>
            <td>{{ task.task_description }}</td>
            <td>{{ task.task_last_date }}</td>
            <td>{{ task.is_high_priority }}</td>
            <td class="action-buttons">
              <button class="edit-btn" (click)="setUpdate(task)">Assign Task</button>
            </td>
        </tr>
      </tbody>
    </table>
  </section>

 